body{
	background: #eee;
}
#logo{
	height: 50px;
	width: 70px;
	float: left;
	margin-right: 10px;
	margin-top: 0;
}
#header, #theme{
	background: #f3f5f6;
}
@media screen and (max-width: 766px){
.jumbotron{
	margin-top: 18px;
}
}
